.inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 900px) {
    .inside{
        display: flex;
        justify-content: center;
    }
}

